# OpenFOAM platform-specific build directories
platforms/

# Object files, shared libs, and compilation logs
*.o
*.dep
*.so
*.log
*.out

# wmake, make, and compilation folders
Make/
*.exe
*.obj

# Editor and system files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# Backup and temp files
*~
*.old
*.backup

# Paraview files
*.foam
*.vtk
*.vtu
*.pvtu
*.pvd
*.csv

# Post-processing output
postProcessing/
plots/

